# Dependencies
node_modules/

# Build outputs
dist/
.next/
out/

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
.idea/

# TypeScript
*.tsbuildinfo


# Import (local only)
apps/backend/src/import/